extends layout

block content
    .row
        each pet, index in pets
            .col-sm-4.justify-content-center
                .card
                    img.card-img-top(src=pet.picUrl, alt='Card image cap')
                .card-body
                    h4.card-title= pet.name
                    small.text-muted= pet.species
                    p.card-text= pet.description
                    .text-right
                        a.card-link(href=`/pets/${pet._id}`) (View #{pet.name})
    nav.d-flex.justify-content-center(aria-label='Page navigation example')
        ul.pagination()
            if currentPage > 1
                li.page-item()
                    if term 
                        a.page-link(href=`/pets/search?term=${term}&page=${currentPage - 1}`) Previous
                    else
                        a.page-link(href=`/?page=${currentPage - 1}`) Previous

            - var pageNum = 1;
            while pageNum <= pageCount
                li.page-item()
                    if term
                        a.page-link(href=`/pets/search?term=${term}&page=${pageNum}`)= pageNum++
                    else
                        a.page-link(href=`/?page=${pageNum}`)= pageNum++

            if currentPage < pageCount
                li.page-item()
                    if term
                        a.page-link(href=`/pets/search?term=${term}&page=${parseInt(currentPage) + 1}`) Next
                    else
                        a.page-link(href=`?page=${parseInt(currentPage) + 1}`) Next

